---
---

$green: #2a402a;

@import "slick-theme";


body,
body * {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
  color: #1f1f1f;
}

.instructions {
  background: wheat;
  padding: 1em;
  border: 1px solid;
}
.instructions--dismissed {
  display: none;
}

.reset-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

nav[role="navigation"] li {
  display: inline-block;
}

.page-constraint {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 2em;
}

.logo {
  font-size: 3em;
  font-family: monospace;
}

.page__header {
  margin-bottom: 2em;
  padding-bottom: 2em;
  border-bottom: 1px solid;
}


.text-input {
  font-size: 1em;
  display: block;
  padding: .5em;
  border: 2px solid;
  margin-bottom: 1em;
}
.select-input {
  font-size: 1em;
  display: block;
  border: 2px solid;
  height: 2.5em;
  margin-bottom: 1em;
  min-width: 190px;
}
input[type="checkbox"] {
  display: inline-block;
}
input[type="checkbox"]:after {
  content: "";
  display: block;
}
.label {
  font-weight: bold;
}
.label[data-required=true]:after{
  content: " (Required)";
  font-weight: lighter;
}
.button {
  border: none;
  font-size: 1.2em;
  background-color: green;
  padding: .7em;
}

.fieldset {
  margin-bottom: 2em;
}
.legend {
  font-size: 1.4em;
}

.carousel {}
.carousel__item {
  position: relative;
  span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 3em;
    color: white;
    background-color: rgba($green, .8);
    padding: .2em;
  }
}

body.not-a11y-friendly {

}
