
<aside class="instructions" aria-hidden="true">

  <ul class="reset-list">
    <li>
      <button onclick="blurText()">Small Type Mode</button>
    </li>
    <li>
      <button onclick="blurEverything()">Blur</button>
    </li>
    <li>
      <button onclick="blackWhite()">Greyscale mode</button>
    </li>
    <li>
      <button onclick="tunnelVision()">Tunnel vision mode</button>
    </li>
    <li>
      <button onclick="disableMouse()">One Handed Mode</button>
    </li>
    <li>
      <button onclick="stopCarousel()">Stop the darn carousel</button>
    </li>
  </ul>

</aside>
