
<aside class="instructions" aria-hidden="true">
  <p>Here's a dummy booking form for my fictional resturant. Have a play around and try out these scenarios.</p>
  <ul class="reset-list">
    <li>
      You've lost your mouse. **Use the keyboard** alone to complete this form.
      [disable mouse events]
      span with class of button
      no focus state
      no "skip to content" link
    </li>
    <li>
      You got a black eye in a fight, **use a screen reader**
      [blur the page out]
      bad alt text
      use of icon fonts without label
      error states are purely colour changes
    </li>
  </ul>

  <ul class="reset-list">
    <li>
      <button onclick="blurText()">Small Type Mode</button>
    </li>
    <li>
      <button onclick="blackWhite()">No colour contrast mode</button>
    </li>
    <li>
      <button onclick="tunnelVision()">Tunnel vision mode</button>
    </li>
    <li>
      <button onclick="">Sunny Garden Mode</button>
    </li>
    <li>
      <button onclick="disableMouse()">One Handed Mode</button>
    </li>
  </ul>

</aside>
