
.instructions {
  background: wheat;
  padding: 1em;
  border: 1px solid;
  margin: 2em auto 4em auto;
  max-width: 700px;

  li {
    display: inline-block;
  }

  button {
    cursor: pointer;
    background-image: linear-gradient(to bottom, #656667, #121213);
    border-radius: 5px;
    border: none;
    margin-bottom: .5em;
    color: white;
    font-size: 1em;
    padding: .5em 1em;

    &:hover,
    &:focus {
      background-image: linear-gradient(to bottom, #bbbbbb, #656667);
    }
  }

}
.instructions--dismissed {
  display: none;
}
