<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

  <link rel="stylesheet" href="styles.css">
</head>
<body>

  {% include instructions.html %}

  <header class="page-constraint page__header">
    <div class="logo">Matt's Fancy Food</div>
    <nav role="navigation">
      <ul class="reset-list">
        <li><a href="/">Home</a></li>
        <li><a href="/">Menu</a></li>
        <li><a href="/">Book</a></li>
      </ul>
    </nav>

  </header>

  <main class="page-constraint">
    {{page.content}}
  </main>

  <!-- fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,400" rel="stylesheet">

  <!-- jquery -->
  <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>

  <!-- slick -->
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
  <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>

  <script>
    $('.carousel').slick({
      dots: false,
      arrows: false,
      infinite: true,
      speed: 100,
      autoplay: true,
      autoplaySpeed: 800,
    });
  </script>

  <!-- Tunnel Vision -->
  <script>
    function tunnelVision(){
      if(!document.getElementById('jsAnythingViewport')){
        document.body.appendChild(document.createElement('script')).id='jsAnythingViewport';
        document.getElementById('jsAnythingViewport').src = '//anything.agency/tunnel-vision/tunnelVision.js';
      }
    }
    function disableMouse(){
      $('body').css('pointer-events','none');
    }
    function blurText(){
      $('body').css('filter','blur(1.1px)').css('font-size','14px');
    }
    function blackWhite(){
      $('body').css('filter','grayscale()');
    }
  </script>


</body>
</html>
